
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div class="d-flex justify-content-center flex-wrap flex-md-nowrap align-items-center pt-3 mb-3 pb-2 border-bottom">
    <h1 class="h2">İletişim</h1>
</div>

<div class="card">
    <div class="card-body">
        <div class="d-flex justify-content-center gap-3 mt-1 mb-1">
            <a href="https://github.com/abdullahcagis" type="button" class="btn btn-outline-dark btn-lg">
                Github
                <img src="~/Images/icons8-github-48.png" />
            </a>
            <a href="https://www.linkedin.com/in/mustafaabdullahcagi%CC%87s" type="button" class="btn btn-outline-primary btn-lg">
                Linkedin
                <img src="~/Images/icons8-linkedin-circled-48.png" />
            </a>
            
            <a href="~/Images/MUSTAFA ABDULLAH ÇAĞIŞ CV.pdf" type="button" class="btn btn-outline-danger">
                Mail & Cv
                <img src="~/Images/icons8-gmail-logo-48.png" />
            </a>
        </div>
    </div>
</div>

