
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/AdminPanel/Views/Shared/_LayoutPage1.cshtml";
}



<div class="text-lg-center text-info pt-5" style="font-size:30pt; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif" >
    YandalStore AdminPanele Hoşgeldiniz
</div>

